.invert-text-class {
    filter: saturate(0) grayscale(1) brightness(.7) contrast(1000%) invert(1);
}

.main-canvas-listen-clear {
    cursor: pointer;
}

.dm-button {
    border: 1px outset black;
    color: black;
    background: rgb(255, 255, 255);
}